.super__signup {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	align-items: center;

	/* height: 100%; */
}

.super__login-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	place-items: center;
	justify-content: center;
}

.super__login-header h1 {
	font-size: 48px;
	font-weight: 600;
}

.super__login-header p {
	margin: 5px;
	font-family: 'Poppins', sans-serif;
	/* text-shadow: 1px 1px 2px #582066; */
	color: #582066;
}
.super__signup-form {
	display: flex;
	flex-direction: column;
	margin: 15px;
	width: 50%;
}

.super__signup-form input {
	padding: 0.6rem;
	border: 1px solid #ddd;
	margin: 8px;
	border-radius: 5px;
}

button.form-submit {
	padding: 0.6rem;
	border: 1px solid #ddd;
	background: #582066;
	/* margin: 8px; */
	border-radius: 5px;
	color: #f4eff6;

	/* background: #582066;

	border-radius: 10px;
	margin: 0.3rem; */
}

.super__signup-form input:focus {
	border: none;
}

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield;
  appearance: none;
}

/* .solid {
	border-top: 1px solid #ddd;
	width: 19%;
	height: 5px;
	padding-bottom: 1.5rem;
} */

/* .single-sign-on {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	border: 1px solid #ddd;
	padding: 0.7rem 3.2rem;
	border-radius: 10px;
}

.sign-on-btn {
	margin-top: 3px;
}

.sign-on-text {
	margin-left: 1.8rem;
} */

/* @media screen and (min-width: 1051px) {
	.super__signup-form {
		align-items: center;
		width: 33.3%;
	}
} */

@media screen and (min-width: 967px) {
	.super__signup-form {
		align-items: center;
		width: 33.3%;
	}

	.super__login-form button {
		width: 100%;
		padding: 10px 25%;
	}
}

@media screen and (max-width: 767px) {
	.super__login-form {
		width: 50%;
		/* display: none; */
	}

	.super__login-form button {
		padding: 10px 15%;
	}
}

@media screen and (max-width: 637px) {
	.super__login-form {
		width: 37%;
	}
}

@media screen and (max-width: 550px) {
	.super__login-form {
		width: 50%;
	}
	.super__google-form {
		width: 50%;
	}

	.sign-on-text {
		font-size: 13px;
		margin: 0;
	}
}
