
.super__feature1{
	flex-direction: row;
	/* justify-content:space-between !important; */
	place-items: center;
	/* margin: 0 auto; */
}

.super__cta_trynow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	place-items: center;
}

.super__actions-content {
	display: flex;
	flex-direction: row;
	/* justify-content: center;
	place-items: center; */
	/* width: 100%; */
	padding: 0 14%;
	/* margin: 30px; */
}

.super__actions-content h3 {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	/* line-height: 60px; */
	text-align: center;
	/* margin-top: 45px; */
	/* letter-spacing: -0.04em; */
	color: #121417;
	/* text-shadow: 1px 1px 2px #3f1d47; */
}

.super__cta_trynow button {
	display: flex;
	justify-content: center;
	place-items: center;
	font-family: var(--font-family);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.05em;

	padding: 0.3rem 0.85rem;
	gap: 4px;
	/* color: #f4eff6; */
	border-radius: 10px;
	margin: 0.3rem;
	height: 36px;
}

.try-now {
	background: #582066;
	color: #f4eff6;
	border-radius: 10px;
	margin: 0.3rem;
}

.support {
	background: #eeefef;
	color: #5a6475;

	border-radius: 10px;
}

.cta__icon {
	/* background: #f4eff6; */
	/* border-radius: 10%;
	width: 70px;
	height: 70px;
	padding: 15px; */
}
.super__actions {
	/* display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3% 15%;
	margin-left: 0.6rem; */
}

button.action-content {
	width: 28%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.cta__btn{
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;

    /* padding: 0.3rem 0.85rem; */
	padding-top: 8px;
	padding-bottom: 8px;
	/* width: 152px !important; */
    /* gap: 4px; */
    /* color: #f4eff6; */
	border: 1px solid #dcdadd;
	background: #f4eff6;
    border-radius: 10px;
    margin: 0.2rem;

    /* height: 36px; */
}

.toggle {
    --width: 36px;
    --height: calc(var(--width) / 1.5); /* Increased height */

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.3s ease-in-out;
}

.toggle .slider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    width: calc(var(--height) - 4px); /* Adjusted size */
    height: calc(var(--height) - 4px); /* Adjusted size */
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%);
}

.toggle input:checked + .slider {
    background-color: #0c0935;
}

.toggle input:checked + .slider::before {
    transform: translate(calc(var(--width) - var(--height) + 2px), -50%);
}

/* Labels */
.toggle .labels {
    position: absolute;
    top: 3px; /* Adjusted for better alignment */
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: calc(var(--height) - var(--width) + 3px);
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
}

.toggle input:checked ~ .labels::after {
    opacity: 0;
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle input:checked ~ .labels::before {
    opacity: 1;
    transform: translateX(calc(var(--width) - var(--height)));
}

.icon-container {
	display: flex;
	justify-content: space-around;
	/* margin: 15px; */
}


.cable-icon-container {
	display: flex;
	/* justify-content: space-around; */
	margin: 22px;
}

.cable-icon-start {
	margin-left:-22px ;
	margin-right: 15px;
}

.icon-start {
	margin-left:-22px ;
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding: 5px;
}
.icon1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding: 5px;
}
.icon img {
	width: 50px;
	height: 50px;
	border-radius: 8px;
}
.icon1 img {
	height: 50px;
	border-radius: 8px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + .icon {
	border: 2px solid #582066;
	padding: 5px 20px;
	/* padding: 5px 26px; */
	border-radius: 10px;
}


  .custom-select-container {
	margin-bottom: 7px;
}

.custom-select {
    position: relative;
    font-size: 14px;
}

.select-selected {
    /* background-color: #f1f1f1; */
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 100%;
    z-index: 99;
}

.select-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.select-item:hover {
    background-color: #ddd;
}


.btn {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 186px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	z-index: 0;
	transition: 0.5s;
	/* padding: 10px */
}

.btnr {
	width: 100%;
	max-width: 186px;
	height: 100px;
	cursor: pointer;
	background: #4c4f51;
	border: 1px solid #91C9FF;
	outline: none;
	z-index: 0;
	transition: 1s ease-in-out;
	margin-bottom: 15px;
	border-radius: 10px;
	/* padding: 15px */
}

svg.border {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: stroke-dashoffset 1s ease-in-out;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
}

.btnr:hover {
	transition: 1s ease-in-out;
	background: #0d2b36;
}

.btnr:hover svg {
	stroke-dashoffset: -480;
}

.btnr span {
	color: white;
	font-size: 18px;
	font-weight: 100;
}


  /* Button Effect #9 */
.btn-effect-9 {
	position: relative;
	transform-style: preserve-3d;
	border-radius: 8px;
  }
  
  .btn-effect-9 .top-face,
  .btn-effect-9 .front-face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px !important;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.6s ease-in-out;
  }
  
  .btn-effect-9 .front-face {
	transform: translateZ(48.5px);
	/* transform: translateZ(38.5px); */
	/* background-color: #fff; */
  }
  
  .btn-effect-9 .top-face {
	background-color: #0d2b36;
	color: #f3f3f3;
	transform: rotateX(90deg) translateZ(48.5px);
  }
  
  .btn-effect-9:hover {
	transform: rotateX(-90deg);
	transition: 0.6s ease-in-out;
  }

 /* Hide number input spinner in Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


  .fancy {
    --offset: 3px;
    /* background: rgb(55, 21, 90); */
	border-bottom: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
    height: 35px;
    width: 140px;
	padding-left: 15px;
    max-width: 100%;
    overflow: hidden;
	z-index: -30;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, rgb(252, 252, 252), transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 5s linear infinite;
}

/* Overlay */
.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy input {
    background: transparent;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    inset: 0;
    z-index: 20;
    padding: 1.5rem;
}

.tabs .tab-button {
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	transition: color 0.3s, border-bottom 0.3s;
  }
  
  .tabs .tab-button.active {
	color: #206657;
	border-bottom: 2px solid #206657;
  }
  
  .tab-content {
	padding: 1rem;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 8px;
  }
  

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}



/* Adjustments for mobile screens */
@media (max-width: 768px) {
    svg.border {
        max-width: 100%;
        stroke-dasharray: 100 300; 
        stroke-dashoffset: 100;
    }
}

  @media screen and (max-width: 1050px) {
	.super__feature1{
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
		/* background: #121417; */
	}
	.cta__btn{
		/* margin: 1.2rem; */
	  }

	  .super__actions {
		/* padding: 0 10% !important; */
	   }
	   .super__actions-header{
		display: flex;
		justify-content: center;
		margin: 0 auto !important;
		width: 130px;
		padding: 0 6px;
		/* padding-left: 5px; */
		/* border: 1px solid #582066; */
	   }
  }

  @media screen and (max-width: 700px) {
	.cta__btn{
		font-size: 12px;
		width: 180px !important;
		margin: 1.2rem;
	  }
	
  }

  @media screen and (max-width: 550px) {
	.btn {

		/* width: 130px; */
		height: 80px;
		color: #0c0935 !important;
	  }

	  .btnr {
		width: 100%;
		max-width: 130px !important;
		background: #fff;
	
	}
	
	
	  .btn-effect-9 .front-face {
		transform: translateZ(40.5px);
	  }

	  .btn-effect-9 .top-face {
		transform: rotateX(90deg) translateZ(40.5px);
	  }

	  .cta__btn{
		font-size: 12px;
		/* width: 123px !important; */
	  }

	  .super__actions {
		/* padding: 0 !important;
		margin-right: 10px; */
	   }
	
  }