/* Optional: Customize the dots */
.slick-dots li button:before {
    color: #333; 
  }
  
  .slick-dots li.slick-active button:before {
    color: #3f1d47; 
  }

  .main{
    /* background: #ff0000; */
    height: 100vh;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }