.super__header {
	display: flex;
	flex-direction: row;
	margin: 25px;
	background-image: url('../../assets/Mesh.png');
	animation: mymove 25s infinite;
}

@keyframes mymove {
	20% {
		background-position: center;
	}
}

.super__header-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	place-items: center;
	/* width: 100%; */
	padding: 0 20%;
	margin: 85px;
}

.super__header-content h1 {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 62px;
	line-height: 70px;
	text-align: center;
	margin: 20px;
	/* letter-spacing: -0.04em; */
	color: #121417;
	text-shadow: 1px 1px 2px #582066;
}

.super__header-content h3 {
	font-family: var(--font-family);
	/* padding: 0 15%; */
	text-align: center;
	/* letter-spacing: -0.04em; */
	color: #582066;
}

.super__header-content button {
	font-family: var(--font-family);
	display: flex;
	/* flex-direction: row; */
	margin: 0 auto;
	/* letter-spacing: -0.04em; */
	background: #582066;
	color: white;
	padding: 0.7em;
	border-radius: 5px;
	gap: 4px;
}

.getaccess__icon {
	margin-top: 3px;
}

@media screen and (max-width: 1050px) {
	.super__header-content h1 {
		font-size: 52px;
		line-height: 60px;
		/* margin: 5px; */
	}
	.super__header-content {
		/* width: 100%; */
		padding: 0 5%;
		margin: 35px;
	}
}

@media screen and (max-width: 700px) {
	.super__header-content h1 {
		font-size: 42px;
		line-height: 50px;
	}
	.super__header-content {
		/* width: 100%; */
		padding: 0 5%;
		/* margin: 35px; */
	}
}

@media screen and (max-width: 550px) {
}
